@use "reset" as *;
@use "variables/global" as *;
@use "themes/dark" as *;
@use "themes/normal" as *;

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}
