@use "reset" as *;
@use "variables/global" as *;
@use "themes/dark" as *;
@use "themes/normal" as *;

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}
