:root {
    --font-family-main: Consolas, "Times New Roman", Serif;

    --font-size-m: 16px;
    --font-size-m: 24px;
    --font-m: var(--font-size-m) / var(--font-size-m) var(--font-family-main);

    --font-size-l: 24px;
    --font-size-l: 32px;
    --font-l: var(--font-size-l) / var(--font-size-l) var(--font-family-main);

    // Размеры
    --navbar-height: 50px;

    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;
}
.content-page {
    display: flex;
}
.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}
